$aoc-background: #0f0f23;

$material-dark: (
	'background': $aoc-background
);
$material-dark-elevation-colors: (
	'1': $aoc-background,
	'4': $aoc-background,
	'16': $aoc-background,
);
$body-font-family: 'Source Code Pro';
$font-size-root: 14pt;
